<div class="card mb-2">
  <div class="card-header d-flex justify-content-between">
    <h3>Kullanıcı Bilgileri<h3>
  </div>
</div>
<div class="card">
  <div class="card-header">
    <div class="d-flex flex-column">
      <%= render partial: "users/user_profile_header", locals: { user: user, upload_button: true } %>
      <div class="row mt-2">
        <div class="col-6 p-1">
          <button class="btn btn-outline-warning btn-sm w-100" data-bs-toggle="modal" data-bs-target="#user_edit_modal_<%=user.id%>">
            Düzenle
            <i class="bi bi-pencil-square"></i>
          </button>  
        </div>
        <div class="col-6 p-1">
          <% button_to %>
          <button class="btn btn-outline-danger btn-sm w-100" data-bs-toggle="modal" data-bs-target="#user_remove_modal_<%=user.id%>">
            Sil
            <i class="bi bi-trash3-fill"></i>
          </button>  
        </div>
      </div> 
    </div>
  </div>
  <div class="card-body">
    <%= render partial:"users/user_info_carousel", locals: { user: user } %>
  </div>
</div>

<%= render partial: "users/user_edit_modal", locals: { user: user } %>
<%= render partial: "users/user_remove_modal", locals: { user: user } %>
