<div class="modal fade" id="update_photo_<%= user.id %>" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <h4 class="text-center">Fotoğrafı Düzenle</h4>
            <div class="modal-header">
                <%= render partial: "users/user_profile_header", locals: { user: user, upload_button: false} %> 
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <%= form_with model: user, url: update_photo_user_path, class:"mb-2", method: :post, local: true do |form| %>
                    <%= form.file_field :photo, class:"form-control mb-2", id:"file_input" %>
                    <%= form.submit value: "Fotağrafı Güncelle", class:"btn btn-primary btn-sm w-100 disabled", id:"button" %>
                <% end %>
                <% if user.has_photo? %>
                    <button class="btn btn-outline-danger btn-sm w-100" data-bs-toggle="modal" data-bs-target="#user_photo_remove_modal_<%=user.id%>">
                        Sil
                        <i class="bi bi-trash3-fill"></i>
                    </button>
                <% end %>
            </div>
            <div class="modal-footer"></div>
        </div>
    </div>
</div>

<%= render partial: "users/user_photo_remove_modal", locals: { user: user } %>

<script>
  var fileInput = document.getElementById("file_input");
  var button = document.getElementById("button")

  fileInput.addEventListener("input",()=>{
    if(fileInput.value == "")
        button.classList.add("disabled")
    else
        button.classList.remove("disabled")
  });
</script>